{% extends 'FrontendBundle:Layouts:email.html.twig' %}
{% block content_mail %}
    <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0 20px 0 20px;" width="690">
        <tr>
            <td style="padding: 10px 0 0;" align="left">

                <h2 style="color:#555; font-weight: bold; margin: 0 0 10px 0; padding: 0; line-height: 26px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
                    {{ "Hola"|trans }} {{ order.customer.name }}
                </h2>

                <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                    {{ "Su pedido ha sido marcado como " |trans }}<strong>{{ order.status }}</strong>
                </p>

                {% if order.status == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_OUT_OF_STOCK') %}
                    <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                        {{ 'Esto es debido a una alta demanda del producto. Sin embargo, procederemos a enviarte todos los articulos en cuanto volvamos a tener stock. Disculpa las molestias.' | trans }}
                    </p>
                {% endif %}

                {% if order.status == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_SEND') %}
                    <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                        {{ 'Tu pedido llegará a la dirección especificada en los próximos días. Muchas gracias por confiar en' | trans }} <a style="text-decoration: none; color:#4cb1ca" title="{{ 'El Cartujano' | trans }}" href="{{ web_url }}">elcartujano.es</a>
                    </p>
                {% endif %}

                {% if order.status == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_CANCELED') %}
                    <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                        {{ 'Tu pedido ha sido cancelado. Por favor, si tienes alguna duda acerca de la cancelación de tu pedido o del reembolso del mismo, escríbenos. Estaremos encatados de atenderte. Gracias por confiar en' | trans }} <a style="text-decoration: none; color:#4cb1ca" title="{{ 'El Cartujano' | trans }}" href="{{ web_url }}">elcartujano.es</a>
                    </p>
                {% endif %}

                <h2 style="color:#555; font-weight: bold; margin: 0 0 10px 0; padding: 0; line-height: 26px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
                    {{ "Detalles de tu pedido"|trans }}
                </h2>

                <table border="0" width="680" style="margin-bottom: 20px">
                    {% for orderItem in order.items %}
                        <tr>
                            <td style="width: 120px"><img src="{{ asset(orderItem.item.imageMain.imageItemCart.getWebFilePath) }}"></td>
                            <td>{{ orderItem.item.name }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <h2 style="color:#555; font-weight: bold; margin: 0 0 10px 0; padding: 0; line-height: 26px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
                    {{ "Dirección de envío"|trans }}
                </h2>

                {% if order.address is not null %}
                    <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                        {{ order.address.address }}, {{ order.address.postalCode }}, {{ order.address.city }}, {{ order.address.city.province.name }}
                    </p>
                {% else %}
                    <p style="color:#767676; font-weight: normal; margin: 0 0 10px 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; ">
                        {{ 'Recogida en tienda' | trans }}
                    </p>
                {% endif %}

            </td>
        </tr>
    </table>
{% endblock %}