{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Tu carrito | El Cartujano"|trans }}{% endblock %}
{% block description %}{{"Compra los mejores productos al mejor precio. Picos hechos con ingredientes seleccionados y aceite de olive."|trans}}{% endblock %}
{% block sectionclass %}user page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="title">{{ 'Tu carrito' | trans }}</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered cart-table">
                    <thead>
                    <tr>
                        <th class="text-left">{{ 'Descripción' | trans }}</th>
                        <th>{{ 'Cantidad' | trans }}</th>
                        <th>{{ 'Subtotal' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if cart and cart.cartItems | length > 0 %}
                    {% for item in cart.cartItems %}
                        <tr>
                            <td class="text-left">
                                {{ render(controller("CartBundle:Cart:cartItemDetails", {'id':item.id})) }}
                            </td>
                            <td>
                                <input data-path="{{ path('update_cart_item_quantity', {'id':item.id}) }}" class="item-quantity" type="number" value="{{ item.quantity }}" name="quantity-{{ item.id }}">
                                <a class="btn btn-danger btn-sm delete-address" href="{{ path('delete_item_from_cart', {'id':item.id}) }}" title="{{ 'Eliminar producto del carrito' | trans }}"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td>{{ item.price }} <i class="fa fa-euro"></i></td>
                        </tr>
                    {% endfor %}
                        <tr class="no-lines">
                            <td colspan="2" class="delivery">
                                {{ 'Gastos de envío' | trans }}
                            </td>
                            <td>
                                {% if shipment is not null %}{{ shipment.cost }} <i class="fa fa-euro"></i>{% else %}{{ '--' | trans }}{% endif %}
                                {% if extra is not null %}
                                <span class="extra-shipment">
                                    (+{{ extra.cost }} <i class="fa fa-euro"></i> {{ 'adicionales' | trans }})
                                </span>
                                <a href="" class="help-tooltip" data-placement="right" data-toggle="tooltip" title="{{ 'Debido a las dimensiones de las cajas el trasporte tiene un gasto adicional según estipula la agencia de reparto' | trans }}"><i class="fa fa-question-circle"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="no-lines">
                            <td colspan="2" class="total-cart">
                                {{ 'Total' | trans }}
                            </td>
                            <td>
                                {% if extra is not null %}
                                    {{ cart.cartTotal + shipment.cost + extra.cost }} <i class="fa fa-euro"></i>
                                {% else %}
                                    {{ cart.cartTotal + shipment.cost }} <i class="fa fa-euro"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">{{ 'Tu carrito está vacio' | trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="pull-right">
                <a href="{{ path('new_order') }}" title="{{ 'Pagar ahora' | trans }}" class="btn btn-blue">{{ 'Pagar' }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('body').delegate('.item-quantity', 'change', function (e) {
                var quantity = $(this).val();
                var path = $(this).attr('data-path');

                $.post(path, {'quantity':quantity}, function(response) {
                    if (response.ok)  {
                        window.location = response.path;
                    }
                });
            });

            $('.help-tooltip').each(function () {
                $(this).tooltip();
            });
        });
    </script>
{% endblock %}