{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ 'Tienda online El Cartujano' | trans }}{% endblock %}
{% block description %}{{"Compra los mejores productos al mejor precio. Picos hechos con ingredientes seleccionados y aceite de olive."|trans}}{% endblock %}
{% block sectionclass %}page ecommerce{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% set action = app.request.attributes.get('_route') %}
{% set action_params = app.request.attributes.get('_route_params') %}

{% block content %}
    {% if items | length > 0 %}
        {% for item in items %}
            {% set index = loop.index0 %}
            {% if index is even %}
                <div class="row items-list">
            {% endif %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': item, 'shipment': null, 'isEcommerceAction': isEcommerceAction(path(action, action_params))})) }}
            {% if index is odd or (index is even and loop.last) %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>
            {{ 'No se han encontrado resultados en nuestro amplio catálogo de productos.' | trans }}
        </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'CategoryBundle:Subcategory:item_block_script.html.twig' %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}