{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Política de privacidad | El Cartujano "|trans }}{% endblock %}
{% block description %}{{""|trans}}{% endblock %}
{% block sectionclass %}user page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h2 class="title">{{ 'Política de privacidad' | trans }}</h2>
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    Le informamos que los datos que usted nos suministre pasarán a formar parte de un fichero
                    automatizado de clientes de <b>elcartujano.es</b>, encontrándose registrado en el <b>Registro General
                    de Protección de Datos</b> y siendo la titular de <b>elcartujano.es</b> la única destinataria de dicha
                    información. <b>elcartujano.es</b> se compromete a custodiar dichos datos y a no venderlos ni
                    cederlos a terceros.
                </p>

                <p>
                    El tratamiento de dichos datos será de carácter publicitario, estadístico y comercial, siempre
                    dentro del marco de las actividades propias de clopsevilla.es Nos comprometemos a
                    mantener la confidencialidad de los datos y a cumplir con todos los requisitos legales en
                    vigor. Podrá decidir si está interesado en recibir nuestro Boletín con información relativa a
                    promociones, campañas o productos.
                </p>

                <p>
                    En cualquier momento el cliente podrá ejercitar los derechos de acceso, rectificación,
                    cancelación y oposición de sus datos mandando solicitud por escrito al correo electronico
                    <a href="mailto:contacto@distribucioneselcartujano.es" title="Contacta con nosotros">contacto@distribucioneselcartujano.es</a>.
                </p>

                <p>
                    Los datos que nos proporcione durante el registro son obligatorios y deben ser verdaderos.
                    <b>elcartujano.es</b> se reserva el derecho de no aceptar como cliente a cualquier usuario que no
                    proporcione completamente sus datos o proporciones datos falsos. Es deber del usuario
                    guardar su contraseña de acceso en lugar seguro. No nos responsabilizamos de problemas
                    derivados de un uso no autorizado de la contraseña.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}