{% extends "BackendBundle:Layouts:2columns.html.twig" %}
{%  set edit = "Edición de impuesto"|trans %}
{%  set create = "Creación de nuevo impuesto"|trans %}
{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block buttons_section %}
{% endblock %}

{% block content %}

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" role="form"
                  action="{% if edition is defined %}{{ path('admin_tax_edit',{'slug':tax.slug}) }} {% else %} {{ path('admin_tax_create') }} {% endif %}"
                  method="post" xmlns="http://www.w3.org/1999/html">
                {% include 'BackendBundle:Tax:form-tax.html.twig' %}
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}