{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Tu pedido | El Cartujano"|trans }}{% endblock %}
{% block description %}{% endblock %}
{% block sectionclass %}user page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2 class="title">{{ 'Tu pedido' | trans }}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered cart-table">
                    <thead>
                    <tr>
                        <th class="text-left">{{ 'Descripción' | trans }}</th>
                        <th>{{ 'Cantidad' | trans }}</th>
                        <th>{{ 'Precio' | trans }}</th>
                        <th>{{ 'Subtotal' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if cart and cart.cartItems | length > 0 %}
                        {% for item in cart.cartItems %}
                            <tr>
                                <td class="text-left">
                                    {{ render(controller("CartBundle:Cart:cartItemDetails", {'id':item.id})) }}
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>{{ item.price / item.quantity }} <i class="fa fa-euro"></i></td>
                                <td>{{ item.price }} <i class="fa fa-euro"></i></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">{{ 'Tu carrito está vacio' | trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>


        <form action="{{ path('new_order') }}" class="form-inline" novalidate="novalidate" method="POST">
            <div class="col-md-12">
                <h2 class="title">{{ 'Opciones de envío' | trans }}</h2>
                {% for shipmentOption in shipmentOptions %}
                    <div class="form-group mr15">
                        <input id="shipment_option_{{ loop.index0 }}" data-cost="{{ shipmentOption.cost }}" {% if loop.index0 == 0 %}checked="checked"{% endif %} type="radio" name="shipment_option" value="{{ shipmentOption.id }}">
                        <label for="shipment_option_{{ loop.index0 }}">{{ shipmentOption.type }}</label> <span>({{ shipmentOption.cost }} <i class="fa fa-euro"></i>)</span>
                    </div>
                {% endfor %}
            </div>

            <div id="address_delivery_block" class="col-md-12">
                <h2 class="title">{{ 'Dirección de envío' | trans }}</h2>
                <div class="table-responsive">
                    <table class="table table-bordered cart-table">
                        <thead>
                        <tr>
                            <th style="width: 10%;">{{ 'Enviar a' }}</th>
                            <th style="width: 30%">{{ 'Nombre' | trans }}</th>
                            <th>{{ 'Dirección' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if user.addresses | length > 0 %}
                            {% for address in user.addresses %}
                                <tr>
                                    <td><input {% if address.main %}checked="checked"{% endif %} type="radio" name="delivery_address" value="{{ address.id }}"></td>
                                    <td>{{ address.name }}</td>
                                    <td>{{ address.address }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">{{ 'No tienes ninguna dirección' | trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- .table-responsive -->
            </div>

            <div id="payment-method" class="col-md-6">
                <h2 class="title">{{ 'Método de pago' | trans }}</h2>
                <div class="table-responsive">
                    <table class="table table-bordered payment-table">
                        <tbody>
                            <tr>
                                <td>
                                    <label for="payment_option_0"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_pagos.png" alt="{{ 'PayPal' | trans }}"></label>
                                </td>
                                <td>
                                    <label for="payment_option_1">
                                        {{ 'Transferencia bancaria' | trans }}
                                        <i class="fa fa-exchange"></i>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="payment_option_0" checked="checked" type="radio" name="payment_option" value="0">
                                </td>
                                <td>
                                    <input id="payment_option_1" type="radio" name="payment_option" value="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- .table-responsive -->
            </div>


            <div class="col-md-4 col-md-offset-8">
                <table class="table">
                    <tr class="no-lines">
                        <td colspan="2" class="delivery">
                            {{ 'Gastos de envío' | trans }}
                        </td>
                        <td id="shipment_cost" class="text-right">
                            0.0 <i class="fa fa-euro"></i>
                        </td>
                    </tr>
                    <tr class="no-lines font-xl">
                        <td colspan="2" class="total-cart">
                            <b>{{ 'Total' | trans }}</b>
                        </td>
                        <td id="order_total" class="text-right">
                            {{ cart.cartTotal }} <i class="fa fa-euro"></i>
                        </td>
                    </tr>
                </table>
                <input id="cart_total" type="hidden" value="{{ cart.cartTotal }}">

                <button type="submit" class="btn btn-success pull-right">{{ 'Pagar ahora' }}</button>
            </div>
        </form>
    </div><!-- .row -->
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var UIManager = {
            shipmentOptions: null,
            shipmentCost: null,
            orderTotal: null,
            cartTotal: null,
            cart: {{ cart.cartTotal }},
            _euro: "<i class=\"fa fa-euro\"></i>",
            init: function uimanager_init() {
                this.shipmentOptions = document.querySelectorAll('input[name="shipment_option"]');
                this.shipmentCost = document.querySelector('#shipment_cost');
                this.orderTotal = document.querySelector('#order_total');
                this.cartTotal = document.querySelector('#cart_total').value;
                this.addEventListeners();
            },

            addEventListeners: function uimanager_addEventListeners() {
                Array.prototype.forEach.call(this.shipmentOptions, function(elem) {
                    elem.addEventListener('change', this.onShipmentChange.bind(this));
                    if (elem.checked) {
                        this._calculateTotal(elem.dataset.cost);
                    }
                }.bind(this));
            },

            onShipmentChange: function uimanager_onShipmentChange(evt) {
                var element = evt.target;
                this._calculateTotal(element.dataset.cost);
            },

            _calculateTotal: function uimanager_calculateTotal(shipment) {
                this.cartTotal = parseFloat(parseFloat(this.cart) + parseFloat(shipment)).toFixed(2);
                console.info(this.cartTotal);
                this.shipmentCost.innerHTML = shipment + ' ' + this._euro;
                this.orderTotal.innerHTML = this.cartTotal + this._euro;
            }
        };

        UIManager.init();
    </script>
{% endblock %}