<div class="form-group">
    <label for="item_name" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Referencia'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.reference, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="item_name" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Nombre'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.name, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="item_description" class="col-sm-2 control-label">
        {{ 'Descripción'|trans }}
    </label>
    <div class="col-sm-10">
        {{ form_widget(form.description, { 'attr': { 'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="item_description" class="col-sm-2 control-label">
        {{ 'Peso por paquete'|trans }}
    </label>
    <div class="col-sm-2">
        <div class="input-group">
            {{ form_widget(form.weight, { 'attr': { 'class': 'form-control'} }) }}
            <span class="input-group-addon"><b>g</b></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="item_description" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Cantidad'|trans }}
    </label>
    <div class="col-sm-2">
        {{ form_widget(form.quantity, { 'attr': { 'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="item_description" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Tipo de embalaje'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.package, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="item_for_sale" class="col-sm-2 control-label">
        {{ 'Añadir a la tienda'|trans }}
    </label>
    <div class="col-sm-10">
        <input type="checkbox" id="item_for_sale" name="item_for_sale" {% if edition is defined and item.isCommercialItem %}checked="checked"{% endif %}>
    </div>
</div>

<div class="form-group item-tax-container {% if edition is not defined or not item.isCommercialItem %}hidden{% endif %}">
    <label for="item_description" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Impuesto'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.tax, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group item-price-container {% if edition is not defined or not item.isCommercialItem %}hidden{% endif %}">
    <label for="item_price" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Precio'|trans }}
        <a href="#" data-placement="right" class="bo-tooltip" data-toggle="tooltip" title="{{ "Precio del producto sin impuestos"|trans }}"><span class="fa fa-question"></span></a>
    </label>
    <div class="col-sm-2">
        <div class="input-group">
            {{ form_widget(form.price, { 'attr': { 'class': 'form-control'} }) }}
            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
        </div>
    </div>
    <div class="col-sm-3">
        <span id="tax-price" class="alert alert-info alert-inline">{{ 'Impuesto no incluido' | trans }}</span>
    </div>
</div>

<div class="form-group">
    <label for="item_category" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Subcategoría'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.subcategory, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>
{#
<div class="form-group">
    <label for="item_stock" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Stock'|trans }}
        <a href="#" data-placement="right" class="bo-tooltip" data-toggle="tooltip" title="{{ "Existencias del producto"|trans }}"><span class="fa fa-question"></span></a></label>
    </label>
    <div class="col-sm-1">
        {{ form_widget(form.stock, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>
#}
<div class="form-group">
    <div class="col-md-offset-2 col-sm-10">
        <button id="register" type="submit" class="btn btn-primary">
            {{ "Guardar cambios"|trans }}
        </button>
        <img style="display:none;" class="ml15 loader pull-lef" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
    </div>
    <p class="col-md-offset-2 col-sm-10 help-block">
        <span class="red">*</span> {{"Campos obligatorios" | trans }}
    </p>
</div>