<div class="shopping-cart">
    <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
    <div class="cart-items">
        <a href="{{ path('cart_details') }}" title="{{ 'Ver productos' }}">{% if cart.cartItems | length == 1 %}{{ '1 producto' | trans }}{% else %}{{ cart.cartItems | length ~ ' productos' | trans }}{% endif %}</a>

        <a href="{{ path('empty_cart') }}" title="{{ 'Vaciar el carrito' | trans }}" class="delete-cart pull-right"><i class="fa fa-times-circle"></i></a>
    </div>
</div>