{% set action = app.request.attributes.get('_route') %}
<header>
    <a class="brand" href="{{ path('frontend_homepage') }}" title="{{ 'Inicio' | trans }}">
        <img src="{{ asset('bundles/frontend/img/el-cartujano-logo.png') }}" alt="{{ 'Logo de El Cartujano' | trans }}">
    </a>
</header>

<nav class="navbar cartujano-nav">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li {% if action == 'frontend_homepage' %}class="active"{% endif %}>
                <a title="{{ 'Nosotros' | trans }}" href="{{ path('frontend_homepage') }}">{{ 'Nosotros' | trans }}</a>
            </li>
            <li>
                <a href="{{ path('view_categories') }}" alt="{{ 'Nuestros productos' | trans }}">{{ 'Productos' | trans }}</a>
            </li>
            <li>
                <a href="{{ path('ecommerce_homepage') }}" title="{{ 'Compra nuestros productos' }}">{{ 'Tienda' | trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}" title="{{ '¿Tienes alguna consulta? Escríbenos' }}">{{ 'Contacta' | trans }}</a>
            </li>
        </ul>

        <form class="navbar-form navbar-right" role="search" action="{{ path('search') }}" method="post">
            <input type="text" name="search" placeholder="{{ 'Buscador...' | trans }}">
        </form>
    </div>
</nav>