{% if item.imageMain %}
<div class="col-md-6">
    <div class="item-box">
        <div class="item-wrap">
            <div class="img-wrap">
                {% set imagePath= item.imageMain.ImageThumbnail.getWebFilePath ~ '?' ~ random() %}
                {% set imageColorboxPath= item.imageMain.getWebFilePath ~ '?' ~ random() %}
                <img class="img-responsive img-product" src="{{ asset(imagePath) }}" data-img="{{ asset(imageColorboxPath) }}">
            </div>
            <div class="item-info">
                <h5 class="item-title">
                    {{ item.name|length > 40 ? item.name|slice(0, 40) ~ '...' : item.name  }}
                </h5>
                {% if item.reference %}
                <p>
                    {{ 'Referencia:' | trans }} {{ item.reference }}
                </p>
                {% endif %}
                {% if item.weight %}
                    <p>
                        {{ 'Peso:' | trans }} {{ item.weight|number_format }} {{ 'g' | trans }}
                    </p>
                {% endif %}
                {% if item.package %}
                    <p>
                        {{ 'Tipo:' | trans }} {{ item.package }}
                    </p>
                {% endif %}
                {% if item.quantity %}
                    <p>
                        {{ 'Cantidad:' | trans }} {{ item.quantity }} {{ 'uds' | trans }}
                    </p>
                {% endif %}
                {% if item.description %}
                    <p>
                        {{ 'Descripción:' | trans }} {{ item.description }}
                    </p>
                {% endif %}
            </div>
        </div>

        {% if item.isCommercialItem and isEcommerceAction %}
            <div class="item-options text-center">
                <ul class="list-unstyled">
                    <li>
                        <span class="item-price">{% if item.price %}{{ item.price }}{% endif %}</span>
                        <i class="fa fa-euro"></i>  {{ 'IVA incluido' | trans }}
                        <span class="single-price">
                            ({{ item.pricePerUnitWithTaxes }} <i class="fa fa-euro"></i> {{ '/ud' | trans }})
                        </span>
                        <span class="item-dispatch">
                            {% if shipment is not null %}
                            (+ {{ shipment.cost }} <i class="fa fa-euro"></i> {{ 'envío' | trans }})
                            {% else %}
                            {{ 'Gastos de envio no incluidos' | trans }}
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        {% if item.stock > 0 %}
                            <a class="btn btn-blue add-to-cart" title="{{ 'Añadir al carrito' | trans }}" href="{{ path('add_to_cart', {'slug':item.slug}) }}"><i class="fa fa-shopping-cart"></i>{{ 'Añadir' | trans }}</a>
                        {% else %}
                            <a class="btn btn-disabled" title="{{ 'Agotado' | trans }}" href="">{{ 'Agotado' | trans }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}