<div class="form-group">
    <label for="item_name" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Tipo de paquete'|trans }}
    </label>
    <div class="col-sm-3">
        {{ form_widget(form.name, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
            {{ "Guardar cambios"|trans }}
        </button>
        <img style="display:none;" class="ml15 loader pull-lef" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
    </div>
    <p class="col-md-offset-2 col-sm-10 help-block">
        <span class="red">*</span> {{"Campos obligatorios" | trans }}
    </p>
</div>