{% extends "BackendBundle:Layouts:2columns.html.twig" %}

{% block title_section %}
    {{ "Listado de tipos de paquetes" | trans }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('admin_item_package_create') }}" class="btn btn-success">
            <i class="fa fa-plus"></i> {{ "Crear Tipo de paquete" | trans }}
        </a>
    </div>

    {% if packages | length > 0 %}
        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th"></i>
            </span>
                <h5>{{ "Listado de tipos de paquetes"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ "Nombre"|trans }}</th>
                        <th>{{ "Nº de articulos"|trans }}</th>
                        <th>{{ "Acciones"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for package in packages %}
                        <tr>
                            <td><a title="Modificar" href="{{ path('admin_item_package_edit', { 'slug': package.slug }) }}">{{ package.name }}</a></td>
                            <td>{{ package.items|length }} {{ 'artículos' | trans }}</td>
                            <td class="text-center">
                                <a title="Modificar" class="btn btn-primary btn-xs" href="{{ path('admin_item_package_edit', { 'slug': package.slug }) }}"><i class="fa fa-pencil"></i>{{ 'Editar' | trans }}</a>
                                <a title="Borrar" class="delete btn btn-danger btn-xs" href="{{ path('admin_item_package_delete', { 'slug': package.slug }) }}"><i class="fa fa-trash-o"></i>{{ 'Eliminar' | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}