{% extends "FrontendBundle:Layouts:1column-simple-user.html.twig" %}

{% block title %}{{ "Mi pedido nº"|trans }} {{ order.id }} {{ '| El Cartujano' | trans }}{% endblock %}
{% block description %}{% endblock %}
{% block sectionclass %}user order-details page{% endblock %}

{% block error %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="title">{{ 'Pedido nº ' ~ order.id ~ ' realizado el' | trans }} {{ order.date | date('d-m-Y') }}</h3>
            {% if order.items | length > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered cart-table">
                        <thead>
                        <tr>
                            <th class="text-left">{{ 'Descripción' | trans }}</th>
                            <th>{{ 'Cantidad' | trans }}</th>
                            <th>{{ 'Precio' | trans }}</th>
                            <th>{{ 'Subtotal' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orderItem in order.items %}
                            <tr>
                                <td class="text-left">
                                    {{ render(controller("CartBundle:Cart:cartItemDetails", {'id':orderItem.item.id})) }}
                                </td>
                                <td>
                                    {{ orderItem.quantity }}
                                </td>
                                <td>{{ orderItem.price / orderItem.quantity }} <i class="fa fa-euro"></i></td>
                                <td>{{ orderItem.price }} <i class="fa fa-euro"></i></td>
                            </tr>
                        {% endfor %}
                        <tr class="no-lines">
                            <td colspan="3" class="delivery">
                                {{ 'Gastos de envío' | trans }}
                            </td>
                            <td>
                                {{ order.shipment.cost }} <i class="fa fa-euro"></i>
                            </td>
                        </tr>
                        <tr class="no-lines">
                            <td colspan="3" class="total-cart">
                                {{ 'Total' | trans }}
                            </td>
                            <td>
                                {{ order.totalAmount + order.shipment.cost }} <i class="fa fa-euro"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <span>{{ 'Este pedido está vacio' | trans }}</span>
            {% endif %}

            <h3 class="title">{{ 'Dirección de envío' | trans }}</h3>

            <div class="table-responsive">
                {% if order.address is not null %}
                    <table class="table table-bordered table-hover address-table">
                        <thead>
                        <tr>
                            <th>{{ 'Nombre' | trans }}</th>
                            <th>{{ 'Dirección' | trans }}</th>
                            <th>{{ 'Localidad' | trans }}</th>
                            <th>{{ 'Provincia' | trans }}</th>
                            <th>{{ 'Código Postal' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ order.address.name }}</td>
                            <td>{{ order.address.address }}</td>
                            <td>{{ order.address.city }}</td>
                            <td>{{ order.address.city.province.name }}</td>
                            <td>{{ order.address.postalCode }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <h3 class="title">{{ 'Método de pago' | trans }}</h3>

            <div class="box">
                {% if order.status == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_CANCELED') %}
                    <p>{{ 'Este pedido ha sido cancelado. Si aún no se te ha reembolsado tu dinero, por favor, ponte en contacto con nosotros enviando un correo electrónico a la siguiente dirección: ' | trans }}<a class="red-link" href="mailto:{{ cartujano_email }}" title="{{ 'Enviar email' | trans }}">{{ cartujano_email }}</a></p>
                {% elseif order.payment is not null %}
                    {% if order.payment.type == 'Ecommerce\\PaymentBundle\\Entity\\Transfer' %}
                        {% if order.payment.state == constant('Ecommerce\\PaymentBundle\\Entity\\Transfer::PAID') %}
                        <p>{{ 'Este pedido fue pagado el' | trans }} <b>{{ order.payment.created | date('d-m-y') }}</b> {{ 'mediante transferencia bancaria.'  | trans }}</p>
                        {% else %}
                        <p>{{ 'Este pedido esta pendiente de la recepción de la transferencia bancaria. Si tienes cualquier duda, por favor, ponte en contacto con nosotros enviando un correo electrónico a la siguiente dirección: ' | trans }}<a class="red-link" href="mailto:{{ cartujano_email }}" title="{{ 'Enviar email' | trans }}">{{ cartujano_email }}</a></p>
                        <p>{{ 'Tienes que abonar la cantidad de' | trans }} {{ order.totalAmount + order.shipment.cost }} <i class="fa fa-euro"></i> {{ ' a la siguiente cuenta bancaria:' }}</p>
                        <p><b>{{ bankAccount }}</b></p>
                        <p>{{ 'Si ya has realizado la transferencia, recuerda que la recibiremos en los siguientes 3-4 días' | trans }}</p>
                        {% endif %}
                    {% else %}
                        {% if order.payment.expressCheckoutDone %}
                        <p>{{ 'Este pedido fue pagado el' | trans }} <b>{{ order.payment.created | date('d-m-y') }}</b> {{ 'mediante PayPal.'  | trans }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if order.payment is null or not order.payment.expressCheckoutDone %}
                    <p>{{ 'Este pedido aún no ha sido pagado. Si deseas cancelar este pedido, ponte en contacto con nosotros enviando un correo electrónico a la siguiente dirección: ' | trans }}<a class="red-link" href="mailto:{{ cartujano_email }}" title="{{ 'Enviar email' | trans }}">{{ cartujano_email }}</a></p>
                    <form action="" method="post">
                        <div class="table-responsive payment-type">
                            <table class="table table-bordered payment-table">
                                <tbody>
                                <tr>
                                    <td>
                                        <label for="payment_option_0"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_pagos.png" alt="{{ 'PayPal' | trans }}"></label>
                                    </td>
                                    {% if bankAccountAvailable %}
                                        <td>
                                            <label for="payment_option_1">
                                                {{ 'Transferencia bancaria' | trans }}
                                                <i class="fa fa-exchange"></i>
                                            </label>
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <input id="payment_option_0" checked="checked" type="radio" name="payment_option" value="paypal">
                                    </td>
                                    {% if bankAccountAvailable %}
                                        <td>
                                            <input id="payment_option_1" type="radio" name="payment_option" value="transfer">
                                        </td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .table-responsive -->
                    </form>
                    <a href="#" data-paypal="{{ path('pay_paypal', {'id' : order.id}) }}" data-transfer="{{ path('pay_transfer', {'id' : order.id}) }}" class="btn btn-success pay-now" title="{{ 'Pagar' | trans }}">{{ 'Pagar ahora' | trans }}</a>
                {% endif %}
            </div>

            <h3 class="title">{{ 'Detalles del pedido' | trans }}</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover history-table">
                    <thead>
                    <tr>
                        <th>{{ 'Acción' | trans }}</th>
                        <th>{{ 'Fecha' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in order.orderHistory.logs %}
                    <tr>
                        <td>
                        {% if log.log == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_IN_PROCESS') %}
                            {{ 'El pedido se esta procesando' | trans }}
                        {% else %}
                            {% if log.log == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_READY_TO_TAKE') %}
                                {{ 'Ya puedes recoger el pedido en nuestra tienda' | trans }}
                            {% else %}
                                {% if log.log == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_OUT_OF_STOCK') %}
                                    {{ 'Nos hemos quedado sin stock de este producto, te lo enviaremos tan pronto como nos sea posible. Disculpa las molestias' | trans }}
                                {% else %}
                                    {% if log.log == constant('Ecommerce\\OrderBundle\\Entity\\Order::STATUS_CANCELED') %}
                                        {{ 'Se ha cancelado el pedido' | trans }}
                                    {% else %}
                                        {{ 'Ya hemos enviado tu pedido. Esperamos que lo disfrutes' | trans }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>
                            {{ order.updated | date('d-m-y') }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if order.payment is null or not order.payment.expressCheckoutDone %}
    <script>
        var a = document.querySelector('.pay-now');
        a.addEventListener('click', function(event) {
            event.preventDefault();
            var type = document.querySelector('input[name="payment_option"]:checked').value;
            var href = a.dataset[type];
            window.location.href = href;
        });
    </script>
    {% endif %}
{% endblock %}