{% extends "FrontendBundle:Layouts:1column-simple.html.twig" %}

{% block title %}{{ "Reestablecer contraseña en El Cartujano"|trans }}{% endblock %}
{% block description %}{{""|trans}}{% endblock %}
{% block sectionclass %}user-page page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="title">{{ 'Nueva contraseña' | trans }}</h2>
            <div class="small-box">
                <p class="mb20">
                    {{ 'Introduce tu nueva contraseña.' | trans }}<br>
                </p>
                <form id="forgot-password" action="{{ path('new_password', {'salt' : user.salt}) }}" role="form" method="post" novalidate="novalidate">
                    <div class="form-group">
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'autocomplete' : 'off', placeholder: 'Introduce tu contraseña' | trans}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'autocomplete' : 'off', placeholder: 'Repite tu contraseña' | trans}}) }}
                    </div>

                    {{ form_rest(form)}}
                    <div class="form-group">
                        <button id="register" type="submit" class="btn btn-blue btn-large btn-block">{{ "Cambiar contraseña" | trans }}</button>
                        <img style="display:none;" class="ml15 loader pull-left" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
                    </div><!-- .form-group -->
                </form>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}