{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ 'Productos de la categoría: ' ~ subcategory.name ~ ' | El Cartujano' | trans }}{% endblock %}
{% block description %}{{"Nuestros productos son elaborados con los mejores ingredientes."|trans}}{% endblock %}
{% block sectionclass %}page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% set action = app.request.attributes.get('_route') %}
{% set action_params = app.request.attributes.get('_route_params') %}

{% block content %}
    {% if items | length > 0 %}
        <h1 class="title">{{ subcategory }}</h1>
        {% for item in items %}
            {% set index = loop.index0 %}
            {% if index is even %}
            <div class="row items-list">
            {% endif %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': item, 'shipment': null, 'isEcommerceAction': isEcommerceAction(path(action, action_params))})) }}
            {% if index is odd or (index is even and loop.last) %}
            </div>
            {% endif %}
        {% endfor %}
        {{ simple_paginator_render('view_subcategory', 'items', { 'routeParams' : {'slug' : subcategory.slug}, 'container_class' : 'pagination', 'currentClass' : 'active' }, 'ItemBundle:Commons:paginator.html.twig') }}
    {% else %}
        <p>{{ 'No se han encontrado productos para esta categoría.' | trans }}</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'CategoryBundle:Subcategory:item_block_script.html.twig' %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}