{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ 'Productos de la categoría: ' ~ category ~ ' | El Cartujano' | trans }}{% endblock %}
{% block description %}{{"Todos los productos ordenados por categoría y tipo. Siempre el mejor precio y calidad"|trans}}{% endblock %}
{% block sectionclass %}page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for subcategory in subcategories %}
        <h1 class="title">
            <a title="{{ 'Ver subcategoría completa' }}" href="{{ path('view_subcategory', {slug: subcategory.slug}) }}">{{ subcategory }}</a>
        </h1>
        {% if subcategory.getNonCommercialItems | length > 0 %}
            <div class="row items-list">
        {% if subcategory.getNonCommercialItems | length > 1 %}
            {% for i in 0..1 %}
                {{ render(controller("ItemBundle:Item:itemBox", {'item': subcategory.items.get(i), 'shipment': null})) }}
            {% endfor %}
        {% else %}
            {{ render(controller("ItemBundle:Item:itemBox", {'item': subcategory.items.get(0), 'shipment': null})) }}
        {% endif %}
        </div>
        {% else %}
            <p>{{ 'No se han encontrado productos para esta categoría.' | trans }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'CategoryBundle:Subcategory:item_block_script.html.twig' %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}